.card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: var(--cinema-blanc);
}

.image {
  width: 290px;
  height: auto;
  margin-right: 20px;
}

.content {
  flex: 1;
  text-align: left;
}

.title {
  font-size: var(--medium-header-size);
  margin-bottom: 10px;
  font-family: "Market Deco", sans-serif;
}

.subtitle {
  font-size: var(--body-size);
  margin-bottom: 10px;
}

.description {
  font-size: var(--body-size);
  color: var(--light-grey);
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .content {
    text-align: center;
  }
}
