@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(50, 14, 17, 0.7);
  padding: 20px 30px;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
  text-decoration: none;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-family: "Limelight", cursive;
  font-size: 2.2rem;
  margin: 0;
  margin-top: 0.75rem;
  margin-left: 1rem;
  color: white;
}

.nav {
  display: flex;
  gap: 100px;
}

.navItem {
  color: var(--cinema-blanc);
  text-decoration: none;
}

.navItem:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 40px;
}

.icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.indicator {
  background-color: rgb(158, 79, 86);
  border-radius: 999px;
  padding: 2px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-weight: 400;
}

.icons button {
  background-color: none;
  padding: 0;
}

.icons button:hover {
  background: none;
}

body {
  padding-top: 70px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    right: 30px;
    background-color: rgba(50, 14, 17, 0.9);
    padding: 20px;
    border-radius: 8px;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
