.screeningsContainer {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  font-size: var(--large-header-size);
  text-align: center;
  margin-bottom: 40px;
}

.description {
  font-size: var(--medium-header-size);
  text-align: center;
  margin-bottom: 30px;
  color: var(--light-grey);
}