@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Market+Deco:wght@400&display=swap');

:root {
  /* Color variables */
  --header-background: #6F6F6F;
  --cinema-blanc: #FFFCFC;
  --black: #000000;
  --dark-grey: #474747;
  --medium-grey: #6E6E6E;
  --light-grey: #DBDBDB;
  --card-bg: #5F5F5F;
  --burgundy: #320E11;
  --filmscreen-grey: #292929;
  --burgundy-hover: #3E0F14;
  --navbar-hover: #D09C9C;

  /* Text size variables */
  --medium-header-size: 36px;
  --navbar-button-size: 24px;
  --navbar-logo-size: 48px;
  --banner-text-size: 24px;
  --large-header-size: 45px;
  --body-size: 20px;
  --medium-header-bold-size: 36px;
  --page-title-size: 93px;
  --footer-header-size: 27px;
  --body-with-spacing-size: 20px;
  --body-with-spacing-line-height: 32px;

  /* Font weight variables */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  padding-top: 109px;
  background-color: var(--filmscreen-grey);
  color: var(--cinema-blanc);
}

