@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

:root {
  /* Color variables */
  --header-background: #6f6f6f;
  --cinema-blanc: #fffcfc;
  --black: #000000;
  --dark-grey: #474747;
  --medium-grey: #6e6e6e;
  --light-grey: #dbdbdb;
  --card-bg: #5f5f5f;
  --burgundy: #320e11;
  --filmscreen-grey: #292929;
  --burgundy-hover: #3e0f14;
  --navbar-hover: #d09c9c;

  /* Text size variables */
  --medium-header-size: 36px;
  --navbar-button-size: 24px;
  --navbar-logo-size: 48px;
  --banner-text-size: 24px;
  --large-header-size: 45px;
  --body-size: 20px;
  --medium-header-bold-size: 36px;
  --page-title-size: 93px;
  --footer-header-size: 27px;
  --body-with-spacing-size: 20px;
  --body-with-spacing-line-height: 32px;

  /* Font weight variables */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  padding-top: 100px;
  background-color: var(--filmscreen-grey);
  color: var(--cinema-blanc);
}

@font-face {
  font-family: "Market Deco";
  src: url("/fonts/Market_Deco.ttf") format("truetype");
}
