@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

.heading {
  font-size: var(--large-header-size);
  color: var(--cinema-blanc);
  margin-bottom: 20px;
}

.description {
  font-size: var(--body-size);
  color: var(--light-grey);
}

.bannerContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  color: #fffcfc;
}

.bannerImage {
  width: 100%;
  display: block;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.bannerText {
  font-size: 80px;
  font-family: "Market Deco", sans-serif;
  margin-bottom: 0px;
}

.bannerDesc {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  max-width: 880px;
  width: 100%;
  text-align: center;
  margin-bottom: -180px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .bannerText {
    font-size: 60px;
  }

  .bannerDesc {
    margin-bottom: -100px;
  }
}

@media (max-width: 768px) {
  .bannerText {
    font-size: 40px;
  }

  .bannerDesc {
    font-size: 20px;
    margin-bottom: -60px;
  }
}

@media (max-width: 480px) {
  .bannerText {
    font-size: 30px;
  }

  .bannerDesc {
    font-size: 16px;
    margin-bottom: -40px;
  }
}
