@import url('https://fonts.googleapis.com/css2?family=Market+Deco:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.heading {
  font-size: var(--large-header-size);
  color: var(--cinema-blanc);
  margin-bottom: 20px;
}

.description {
  font-size: var(--body-size);
  color: var(--light-grey);
}

.bannerContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  box-sizing: border-box;
  position: relative;
  font-size: 93px;
  font-family: 'Market Deco';
  color: #fffcfc;
  text-align: center;
  display: inline-block;
}

.bannerImage {
  width: inherit;
  display: block;
}

.bannerText {
  position: absolute;
  margin: 0;
  top: 71%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1; 
  color: #fffcfc;
  font-size: 80px;
  width: 100%;
  font-family: 'Market Deco';
}

.bannerDesc {
  position: absolute;
  font-family: 'Raleway';
  font-size: 24px;
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
  color: #fffcfc;
  width: 100%;
  max-width: 880px;
}