.menuContainer {
  padding-top: 140px;
  padding-bottom: 120px;
}

.items {
  max-width: 1516px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 57px;
}

.category h3 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  padding: 40px 0;
}

.category hr {
  border-color: #717171;
}

.itemsRow {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
